body { 
    background-image: url('/assets/bodyImg.png');
    background-size: cover; 
    background-position: left center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

@media (max-width: 1024px) {
    body { 
        background-size: auto 100%; 
        background-position: none; 
    }
}
